In [1]:
#importation des librairies de traitement de donnée
import numpy as np #numpy librairy
import matplotlib.pyplot as plt 
import pandas as pd
 #revenir en langue locale => francais 
import locale
locale.setlocale(locale.LC_ALL, 'fr_FR.utf-8')#@@marcos medenou

'fr_FR.utf-8'

In [2]:
leads = pd.read_excel('Leads Fibre de 8H à 20H depuis 1er Janvier 2023.xlsx') #ouverture du fichier

FileNotFoundError: [Errno 2] No such file or directory: 'Leads Fibre de 8H à 20H depuis 1er Janvier 2023.xlsx'

In [ ]:
leads #affichage du contenu du fichier

In [ ]:
leads = leads.reindex(columns=[*leads.columns, 'Jour de la semaine']) # créer une colonne pour le jour de la semaine

In [ ]:
leads

In [ ]:
leads['Date d\'integration'] = pd.to_datetime(leads['Date d\'integration'])

In [ ]:
leads['Jour de la semaine'] = leads['Date d\'integration'].dt.day_name()

In [ ]:
leads

In [ ]:
leads['Date d\'integration'] = pd.to_datetime(leads['Date d\'integration'])

In [ ]:
leads

In [ ]:
groupe_data = leads.groupby(pd.Grouper(key='Date d\'integration', freq='30min'))

In [ ]:
def print_group(group):
    print(group)

In [ ]:
leads[['date', 'heure']] = leads['Date d\'integration'].astype(str).str.split(' ', expand=True)

In [ ]:
leads

In [ ]:
leads= leads.drop(['Date d\'integration'], axis=1)

In [ ]:
leads

In [ ]:
laads = leads[['date','CodePostal']]

In [ ]:
leads

In [ ]:
# Récupérer le nom des colonnes dans le DataFrame
column_name = leads.columns.tolist()

In [ ]:
column_name

In [ ]:
# Déplacer la colonne 'colonne1' à la place de la colonne 'colonne2'
new_column_order = ['date', 'heure', 'CodePostal', 'Jour de la semaine']

In [ ]:
# Réorganiser les colonnes dans le DataFrame en utilisant la méthode reindex()
leads = leads.reindex(columns=new_column_order)

In [ ]:
leads

In [ ]:
# Convertir la colonne 'heure' en heure en utilisant la méthode to_datetime()
leads['heure'] = pd.to_datetime(leads['heure'], format='%H:%M:%S').dt.time

In [ ]:
leads

In [ ]:
# Définir la colonne d'heure comme index du DataFrame
#df = df.set_index('date') 
leads = leads.set_index('heure')

In [ ]:
leads

In [ ]:
leads = leads.sort_values('date')

In [ ]:
leads

In [ ]:
leads=leads.reset_index()

In [ ]:
leads

In [ ]:
leads['heure'] = pd.to_datetime(leads['heure'], format='%H:%M:%S').dt.time

In [ ]:
leads

In [436]:
# Convertir la colonne d'heure en objet datetime
leads['heure'] = pd.to_datetime(leads['heure'], format='%H:%M:%S').dt.time

In [437]:
leads

             date     heure CodePostal Jour de la semaine
0      2023-03-31  19:55:00      16410             Friday
1      2023-03-31  19:34:00      67300             Friday
2      2023-03-31  19:30:00      38780             Friday
3      2023-03-31  19:26:00      68170             Friday
4      2023-03-31  19:25:00      44190             Friday
...           ...       ...        ...                ...
59806  2023-01-01  09:46:00      77290             Sunday
59807  2023-01-01  09:41:00      59273             Sunday
59808  2023-01-01  09:38:00        NaN             Sunday
59809  2023-01-01  09:38:00      94400             Sunday
59810  2023-01-01  09:35:00      27160             Sunday

[59811 rows x 4 columns]

In [438]:
print(leads.dtypes['heure'])

object

In [482]:
leads

          heure        date CodePostal Jour de la semaine
0      09:35:00  2023-01-01      27160             Sunday
1      12:16:00  2023-01-01        NaN             Sunday
2      12:17:00  2023-01-01        NaN             Sunday
3      12:18:00  2023-01-01      26290             Sunday
4      12:19:00  2023-01-01        NaN             Sunday
...         ...         ...        ...                ...
59806  12:31:00  2023-04-04      37500            Tuesday
59807  12:32:00  2023-04-04      38210            Tuesday
59808  12:34:00  2023-04-04        NaN            Tuesday
59809  12:22:00  2023-04-04      34110            Tuesday
59810  11:51:00  2023-04-04      80000            Tuesday

[59811 rows x 4 columns]

In [ ]:
# Resample by 30 minutes and count number of rows in each group
df_30min = fibres.resample('30T').count()