In [52]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd

In [53]:
df = pd.read_excel('Lead_Janvier_2023.xlsx') #ouverture du fichier excel #ouverture du fichier

In [54]:
df

             date     heure CodePostal     Jour
0      2023-01-01  19:51:00        NaN   Sunday
1      2023-01-01  19:49:00        NaN   Sunday
2      2023-01-01  19:49:00        NaN   Sunday
3      2023-01-01  19:44:00        NaN   Sunday
4      2023-01-01  19:42:00        NaN   Sunday
...           ...       ...        ...      ...
19252  2023-01-31  09:04:00      91600  Tuesday
19253  2023-01-31  09:02:00      37210  Tuesday
19254  2023-01-31  08:48:00      27290  Tuesday
19255  2023-01-31  08:42:00      62290  Tuesday
19256  2023-01-31  08:35:00      34140  Tuesday

[19257 rows x 4 columns]

In [59]:
# Convertir la colonne date en format datetime
df['date'] = pd.to_datetime(df['date'])

# Définir les dates de début et de fin de la plage de données à extraire
date_debut = pd.to_datetime('2023-01-02')
date_fin = pd.to_datetime('2023-01-02')

# Utiliser .loc[] pour sélectionner les lignes entre les deux dates
plage_de_donnees = df.loc[(df['date'] >= date_debut) & (df['date'] <= date_fin)]

# Afficher la plage de données sélectionnée
print(plage_de_donnees)

                          date CodePostal    Jour
heure
1900-01-01 19:59:00 2023-01-02        NaN  Monday
1900-01-01 19:59:00 2023-01-02        NaN  Monday
1900-01-01 19:59:00 2023-01-02        NaN  Monday
1900-01-01 19:59:00 2023-01-02        NaN  Monday
1900-01-01 19:58:00 2023-01-02        NaN  Monday
...                        ...        ...     ...
1900-01-01 19:36:00 2023-01-02      82340  Monday
1900-01-01 19:36:00 2023-01-02      82340  Monday
1900-01-01 19:35:00 2023-01-02      85150  Monday
1900-01-01 19:33:00 2023-01-02       6300  Monday
1900-01-01 19:30:00 2023-01-02      31410  Monday

[176 rows x 3 columns]

In [57]:
print(df.columns)

Index(['date', 'CodePostal', 'Jour'], dtype='object')